.body {
    font-family: Arial, Verdana, sans-serif;
}

.navbar .navbar-brand {
    font-family: 'Lato', sans-serif;  
    font-weight: bold;
    font-size: x-large;
}

.navbar-nav .nav-link{
    color: #ffffff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;  
    font-size: x-large;
    line-height: 50px;
    padding-right: 20px; 
    padding-left: 20px; 
}

.navbar .navbar-toggler{
    color:#ffffff;
    border-color:white;
    background-color: #ffffff;
}

#golden_retriever{
    width: 100%; 
    height: auto; 
}

.golden {
    text-align: right;
}

.about_head {
    text-align:center;
    color:#ffffff;
    font-family: 'Lato', sans-serif;  
    margin-top: 75px;
    font-weight: bold;
}

#about_text {
    text-align:left;
    color:#ffffff;
    margin-top: 30px;
}

.hours{
    text-align:center;
    color:#67b249;
    font-weight: bold;
    margin-top: 100px;
}

.body {
    background-color: #87CEEB;
}

.icon-100 { 
    font-size: 100px; 
    vertical-align: middle;
}
.icon-50 { 
    font-size: 50px; 
    vertical-align: middle;
}
#team_header {
    text-align:center;
    font-family: 'Lato', sans-serif;  
    margin-top: 25px;
    font-weight: bold;
}

#team_text {
    text-align:left;
    color:#ffffff;
    font-size: 20px;
    font-family: 'Lato', sans-serif;  
    padding-top: 20px;
}

#name_tag {
    color:#ffffff;
    font-family: 'Lato', sans-serif;  
    font-weight: bold;
}

#team_image{
    width: 70%; 
    height: auto; 
    padding-bottom: 5px;
}

#team_container{
    background-color:#0076a3;
    padding-top:20px;
    padding-left: 5px;
    padding-right: 5px;
}

#service_container{
    background-color:#0076a3;
    padding-top:40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 260px;

    position: relative;
    text-align: center;
    color: white;
}
#service_image{
    width: 100%; 
    height: 150%; 
    /*filter: blur(5px);*/
}
#image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px; 
    border-radius: 5px; 
    text-align:left;
}

#map{
    width: 70%; 
    height: auto;
    padding-bottom: 10px;
}

#map_container{  
    padding: 20px;
    text-align: center;
    /*background-color:#0076a3;*/
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
}

#map_text{
    text-align:left;
}

#area_container{
    text-align: left;
    background-color:#0076a3;
    color: white;
    padding-bottom: 20px;
}

#msgbox{
    height:100px;
}

input[type=text]{
    border-radius:5px;
}

#indDate {
    display: none;
    width: 200px;
    height: 25px;
}

#groupDate {
    display: none;
    width: 200px;
    height: 25px;
}

#groomDate {
    display: none;
    width: 200px;
    height: 25px;
}

#tripDate {
    display: none;
    width: 200px;
    height: 25px;
}

#homeDate {
    display: none;
    width: 200px;
    height: 25px;
}

#label{
    font-weight: bold;

}

#address{
    width: 380px;
}

#set_header{
    color: white;
    
}

#setup_container{
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    padding-bottom: 20px;
}

#app_body{
    background-repeat: no-repeat;
    background-image: url('images/bulldog.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#area_body{
    background-repeat: no-repeat;
    background-image: url('images/ottawa.jpg');
    background-attachment: fixed;
    background-size: cover;
}

#service_body{
    background-repeat: no-repeat;
    background-image: url('images/field.jpg');
    background-attachment: fixed;
    background-size: cover;
}